@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="bg hidden-sm"></div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Innovation Sample</h2>
            <br />
            <p>
                <br />
                <a asp-area="" asp-controller="Customer" asp-action="Index">Customers</a>
                <br />
                <a href="/swagger">Swagger</a>
            </p>
            <br />
        </div>
    </div>
</div>